# Домашнее задание по теме "Pandas"

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

### Решение

In [42]:
import pandas as pd
ratings_movies = pd.read_csv('ratings.csv')
# фильтр по кино с оценками 5
ratings_movies = ratings_movies[ratings_movies['rating'] == 5].filter(items=['movieId', 'rating'])
# считаем у какого фильма больше всего строк = оценок 5
answer = ratings_movies['movieId'].value_counts()
# первая строка является ответом, т.к. всё отсортировано по убыванию количества оценок
answer.head(1)

318    153
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 
за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

### Решение

In [43]:
power = pd.read_csv('power.csv')
# фильтруем по странам
power = power[(power['country'] == 'Latvia') | (power['country'] == 'Litva') | (power['country'] == 'Estonia')]
# фильтруем по категориям
power = power[(power['category'] == 4 ) | (power['category'] == 12 ) | (power['category'] == 21 )]
# фильтруем по годам
power = power[(power['year'] >= 2005) & (power['year'] <= 2010)]
# фильтруем по мощности больше 0
power = power[power['quantity'] > 0]
# находим сумму элементов столбца
sum_power = power['quantity'].sum()
sum_power

118284.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni
    
### Решение

In [45]:
site = 'https://fortrader.org/quotes'

data = pd.read_html(site)
# выбираем любую таблицу от 0 до 7
data[7]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Bitcoin Курс биткоина,37 747.40,-95.00000,-0.250000,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),152.26,-2.70000,-1.740000,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,434.62,-3.87000,-0.880000,NaN
3,Dash Dash,119.12,-1.31000,-1.090000,NaN
4,Ripple Ripple,0.443,-0.00900,-2.084000,NaN
5,Ethereum Ethereum,1 720.70,-2.61000,-0.150000,NaN
6,Zcash (ZEC),93.739,-2.80600,-2.906000,NaN
7,NEO (NEO),25.563,-0.50600,-1.941000,NaN
8,EOS (EOS),3.2924,-0.02010,-0.606800,NaN
9,TRON (TRX),0.036051,-0.00016,-0.441855,NaN
10,Monero,153.15,-1.99000,-1.280000,NaN
11,IOTA,0.50795,-0.00906,-1.752380,NaN
12,"ETC/USD эфириум классик, ETC",8.3387,-0.17230,-2.024400,NaN