# Основы pandas

In [39]:
import pandas as pd

Пример забора данных с сайтов

In [40]:
pd.read_html('http://www.cbr.ru')[2]

ValueError: No tables found

In [41]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [7]:
df[:5]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  05.02.21    746100    755273    756988   745205
 1  04.02.21    755262    759129    760725   753060
 2  03.02.21    759135    762970    763436   756553
 3  02.02.21    762965    761354    763505   753105
 4  01.02.21    761355    758605    762225   753495
 5  31.01.21    758565    757245    759495   757235
 6  30.01.21    756895    759550    759550   756895
 7  29.01.21    758190    761798    764058   752400
 8  28.01.21    761785    759086    765030   756770
 9  27.01.21    759020    750933    760013   747895,
        Имя  Unnamed: 1      %     курс                 Дата
 0  EUR/RUB         NaN  -4494   899475  06.02.2021 01:02:00
 1  USD/RUB         NaN -12131     7461  06.02.2021 01:00:00
 2  CHF/RUB         NaN   -527   830015  06.02.2021 07:05:00
 3  JPY/RUB         NaN   -518      708  06.02.2021 07:05:00
 4  GBP/RUB         NaN   -455  1024844  06.02.2021 07:05:00
 5  NOK/RUB         NaN   -872    87464  06.02.2021 07:05:00
 6  AUD/RUB         NaN    -54   572848  06.02.2021 07:05:00
 7  NZD/RUB         NaN  -1287   537008  06.02.2021 07:05:00
 8  TRY/RUB         NaN   -528   105773  06.02.2021 07:05:00]

Импорт данных из файла

In [17]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [18]:
data.tail()

          country  year  quantity  category
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

In [19]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# если надо указать свои заголовки и разделитель
# data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
# data.head()

In [20]:
# количество строк в датафрейме

len(data)

1189482

In [21]:
# или так

data.shape

(1189482, 4)

Простые вычисления для нового столбца

In [22]:
data['year_plus_one'] = data['year'] + 1
data.head()

   country  year  quantity  category  year_plus_one
0  Austria  1996       5.0         1           1997
1  Austria  1995      17.0         1           1996
2  Belgium  2014       0.0         1           2015
3  Belgium  2013       0.0         1           2014
4  Belgium  2012      35.0         1           2013

### Упражнение
Вам дана статистика продаж в файле transactions.csv. Вам необходимо загрузить этот файл в датафрейм и посчитать его размеры.

In [10]:
stat = pd.read_csv('transactions.csv')

In [14]:
len(stat)

60

In [23]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     60 non-null     int64
 1   Month    60 non-null     int64
 2   ID       60 non-null     object
 3   Product  60 non-null     object
 4   Amount   60 non-null     int64
 5   Price    60 non-null     int64
 6   Total    60 non-null     int64
 7   Cost     60 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.9+ KB

In [42]:
stat.shape

(60, 8)

### Основные сведения о датафрейме

In [ ]:
data.info()

In [25]:
# немного статистики

data.describe()

               year      quantity      category  year_plus_one
count  1.189482e+06  1.189482e+06  1.189482e+06   1.189482e+06
mean   2.002852e+03  1.842648e+05  3.624763e+01   2.003852e+03
std    7.167345e+00  1.585663e+07  1.809968e+01   7.167345e+00
min    1.990000e+03 -8.643480e+05  1.000000e+00   1.991000e+03
25%    1.997000e+03  1.400000e+01  2.400000e+01   1.998000e+03
50%    2.003000e+03  1.890000e+02  3.500000e+01   2.004000e+03
75%    2.009000e+03  2.265000e+03  5.100000e+01   2.010000e+03
max    2.014000e+03  6.680329e+09  7.100000e+01   2.015000e+03

### Отдельный столбец (тип Series)

In [ ]:
data['year'].head()

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [26]:
# уникальные значения в столбце

data['category'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 12, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71], dtype=int64)

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].head()

In [27]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

67    133916
27     97645
24     75132
42     64161
37     62156
39     53198
25     52032
21     50229
51     43466
31     42307
Name: category, dtype: int64

In [28]:
data['category'].value_counts(normalize=True).head()

67    0.112583
27    0.082090
24    0.063164
42    0.053940
37    0.052255
Name: category, dtype: float64

### Упражнение
Используем файл transactions.csv. Определите какой товар (столбец Product) упоминается в файле чаще всего?

In [35]:
my_data = pd.read_csv('transactions.csv')
my_data['Product'].value_counts()

_5    11
_2     8
_8     8
_3     7
_4     7
A5     5
A4     5
A1     5
_6     2
A2     2
Name: Product, dtype: int64

# Фильтры

In [43]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [44]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

In [ ]:
# или так

data[['country', 'quantity']].head()

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

In [ ]:
'quantity > {}'.format(average_level)

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [31]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

array(['Austria', 'Brunei Darussalam', 'Australia', 'Russian Federation',
       'USSR (former)', 'Mauritius', 'Belarus', 'Cyprus',
       'Bonaire, St Eustatius, Saba'], dtype=object)

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data.sort_values('country', ascending=True, inplace=rewrite)

In [36]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)

### Упражнение
Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?