# Домашнее задание по теме "Функции и работа с данными"

### Задание 1

**Домашнее задание к лекции.

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

### Решение

In [1]:
import pandas as pd

def class_movies(rat):
    """Функция классифицирует рейтинги на низкий(<2), средний(>2,<=4) и высокий(>4)"""
    if rat <= 2:
        return 'low rating'
    
    elif (rat <= 4) & (rat > 2):
        return 'middle rating'
    
    elif (rat <= 5) & (rat > 4):
        return 'high rating'

table_data = pd.read_csv('ratings.csv')
table_data['class'] = table_data['rating'].apply(class_movies)

table_data.groupby('class').head()

    userId  movieId  rating   timestamp          class
0        1       31     2.5  1260759144  middle rating
1        1     1029     3.0  1260759179  middle rating
2        1     1061     3.0  1260759182  middle rating
3        1     1129     2.0  1260759185     low rating
4        1     1172     4.0  1260759205  middle rating
5        1     1263     2.0  1260759151     low rating
6        1     1287     2.0  1260759187     low rating
7        1     1293     2.0  1260759148     low rating
8        1     1339     3.5  1260759125  middle rating
9        1     1343     2.0  1260759131     low rating
21       2       17     5.0   835355681    high rating
22       2       39     5.0   835355604    high rating
29       2      150     5.0   835355395    high rating
37       2      222     5.0   835355840    high rating
44       2      265     5.0   835355697    high rating

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

### Решение

In [2]:
def geo_class(reque):
    """Функция определяет по вхождению города в запрос(keyword) регион"""
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    #разделение запроса на слова через пробел в список
    list_reque = reque.split(' ')
    #поиск в запросе вхождение в отобранный словарь геоданных
    for key, towns in geo_data.items():
        for num_town in towns:
            if num_town in list_reque:
                out = key
                return out
            else:
                out = 'undefined'
    return out

table_data2 = pd.read_csv('keywords.csv')
table_data2['region'] = table_data2['keyword'].apply(geo_class)
table_data2.groupby('region').head()

                       keyword     shows          region
0                           вк  64292779       undefined
1                одноклассники  63810309       undefined
2                        порно  41747114       undefined
3                         ютуб  39995567       undefined
4                    вконтакте  21014195       undefined
127               авито москва    979292           Центр
370   авито ру санкт петербург    425134    Северо-Запад
849            авито ярославль    209581           Центр
1063       фарпост владивосток    176951  Дальний Восток
1236      банк санкт петербург    174375    Северо-Запад
1259                    москва    153050           Центр
1346           санкт петербург    144232    Северо-Запад
1396           гисметео москва    140279           Центр
1482          госуслуги москва    133061           Центр
2153               авито псков     98931    Северо-Запад
2175            дром хабаровск     98361  Дальний Восток
2398            авито мурманск     89787    Северо-Запад
3206          дром владивосток     73084  Дальний Восток
3275        100 сп владивосток     76418  Дальний Восток
3687           авито хабаровск     63736  Дальний Восток

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

### Решение

In [29]:
import re
# заполнение списка годами 1950-2010 (2011 не входит в range)
years = []
for year in range(1950, 2011, 1):
    years.append(year)

def production_year(name_movie):
    """Функция выделяет год фильма или ставит 1900, если его нет при помощи библиотеки регулярных выражений"""
    if re.findall(r'\d{4}', name_movie):
        year = re.findall(r'\d{4}', name_movie)
        return year[0]
    else:
        return 1900
# чтение файла с фильмами и фильтрация по нужным столбцам
data_movies = pd.read_csv('movies.csv')
data_movies['year'] = data_movies['title'].apply(production_year)
data_movies = data_movies[['movieId', 'title', 'year']]
# чтение файла с рейтингом и объединение двух датафреймов при помощи метода merge и по типу: outer чтобы все столбцы обеих были
data_ratings = pd.read_csv('ratings.csv')
general_data = data_movies.merge(data_ratings, how = 'outer')
# выделяем в новой таблице нужные нам столбцыЮ группируем по году, считаем среднее по рейтингу и сортируем по убыванию
general_data = general_data[['year', 'rating']].groupby(['year']).mean().sort_values(by=['rating'], ascending=False)
general_data.head(20)

        rating
year
1921  4.416667
1902  4.333333
1928  4.261905
1917  4.250000
1924  4.250000
1918  4.250000
1923  4.166667
1941  4.052326
1931  4.040816
1949  4.035354
1926  4.025000
1946  4.023316
1957  4.014241
1972  4.011136
1934  4.006667
1952  4.000000
1974  3.999058
1954  3.994220
1933  3.993243
1951  3.983539